
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


:root {
  --light_green: hsl(148, 38%, 91%);
  --medium_green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --medium_grey: hsl(186, 15%, 59%);
  --dark_grey: hsl(187, 24%, 22%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light_green);
  font-family: 'Karla', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    max-height: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: calc(95vh - 30%);
    width: 40%; /*change to 40%*/
    margin: 12% 0;
    max-height: fit-content;
    padding: 4%;
    border-radius: 10px;
    justify-content: space-evenly;

}

/* global properties */
#email, #first_name, #last_name, #message {
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  border-radius: 5px;
  border: 1px solid var(--light_green);
  cursor: pointer;

}

#message {
  height: 100px;
  max-height: 80%;
}

label {
  color: var(--medium_grey);
  
}

input {
  accent-color: 1px solid var(--light_green);
  cursor: pointer;
}
input::selection{
  border: 1px solid var(--medium_green);
}

/* specific elements */
.name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 6%;


}

.name > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.query {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 4%;
  margin-bottom: 10px;

}
.query > p {
  grid-area: 1/1/2/3;
  color: var(--medium_grey);
  margin: 0 0 10px 0;


} 
.query > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 7px;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid var(--light_green);
  padding-left: 20px;
}

.check {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}

.submit > button {
  width: 100%;
  border: 0;
  background-color: var(--medium_green);
  color: white;
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
}




.error{
    display: none;
    font-size: small;
    font-weight: 300;
    color: var(--red);
}

.success-message {
    display: none;
    position: fixed;
    top: 20px;
    background-color: var(--dark_grey);
    opacity: 0.9;
    color: white;
    width: 26%;
    min-width: 200px;
    padding: 10px 0 10px 20px;
    text-align: start;
    border-radius: 10px;
    font-weight: 200;
    height: fit-content;
    font-size: 14px;

}

.success-message > * {
  margin: 2%;
}
.success-message > h4 {
  font-weight: 400;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px){

.form {
    height: fit-content;
    width:80%; 
    padding: 6%;
}

.query > div {
  padding: 4px;
  gap: 10px;
  padding-left: 10px;
}


.error{
    /* display: none; */
    font-size: small;
    font-weight: 300;
    color: var(--red);
}

.success-message {
    display: none;
    position: fixed;
    top: 20px;
    background-color: var(--dark_grey);
    opacity: 0.9;
    color: white;
    width: 26%;
    min-width: 200px;
    padding: 10px 0 10px 20px;
    text-align: start;
    border-radius: 10px;
    font-weight: 200;
    height: fit-content;
    font-size: 14px;

}

.success-message > * {
  margin: 2%;
}
.success-message > h4 {
  font-weight: 400;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

}