.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 14px;
  color: #1a9b70;
  font-family: 'Indie Flower', cursive;
}

body > div > p:nth-child(2) {
  font-size: 18px !important;
}

.dice p {
  font-size: 2rem !important;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.dice-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.dice-box > *{
  flex: 1;
}



button {
  border: 0;
  border-radius: 20px;
  padding: 15px;
}



img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
