@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light_pink: hsl(275, 100%, 97%);
  --grayish_purple: hsl(292, 16%, 49%);
  --dark_purple: hsl(292, 42%, 14%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--light_pink);
  font-family: "Work Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.background {
  background: url("./assets/images/background-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
  min-height: 350px;

}

.faq_container {
  align-self: center;
  position: absolute;
  top: 200px;
  margin:2% 20%;
  width: 40%;
  max-width: 80%;
  max-height: calc(100vh - 200px);
  /* transition: max-height 4s ease; */
  /* max-height: fit-content; */
  background-color: white;
  border-radius: 10px;
  padding: 2% 5%;
  /* overflow: hidden; */
}

.question {
    width: 100%;
}

button {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button > span {
    order: 1;
    justify-content: flex-end;
}

h1{
    font-size:3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

h3{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: start;

}

p {
    display: none;
    font-weight: 300;
    text-align: start;
    color: var(--grayish_purple);
}

.show {
    display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px){

    body {
        font-size: 14px;
      }
      
      .container {
        height: auto;
      }
      
      .background {
        min-height: 250px;
      }
      
      .faq_container {
        top: 150px;
        margin:0;
        width: 80%;
        max-width: 90%;
        max-height: fit-content;
      }
      
      h1{
          font-size:2rem;
      }

      h3{
          font-size: 1rem;
      }
      
      .show {
          display: inline;
      }
}
