
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* #### Headings, Call-to-actions, Header Navigation */

:root {
    --very_dark_blue: hsl(243, 87%, 12%);
    --desaturated_blue: hsl(238, 22%, 44%);
    --bright_blue: hsl(224, 93%, 58%);
    --moderate_cyan: hsl(170, 45%, 43%);
    --light_grayish_blue: hsl(240, 75%, 98%);
    --light_gray: hsl(0, 0%, 75%);
}

.body {
    font-size: 16px; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
.container {
    /* margin: 40px; */

}
.container > * {
    padding: 5rem;
}

p {
    font-size: 14px;
}

input[type="text"]{
    padding: 15px;
    border: 1px solid var(--light_gray);
    border-radius: 5px;
    font-size: 14px;
    min-width: 20rem;
    margin-bottom: 20px;
}

button {
    background-color: var(--bright_blue);
    color: white;
    padding: 15px;
    border: 0;
    
    border-radius: 5px;
    min-width: 15rem;
    cursor: pointer;
}

h1{
    font-size: 2.5rem;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5rem;
}

.logo img{
    width: 100px;
}

.nav_links ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav_links ul li {
    list-style: none;
    margin-right: 4rem;
}

.hero{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.hero-text {
    flex: 1;
}

.hero-text > * {
    max-width: 60%;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* features  */

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-image: url('./images/bg-curve-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.features-text, .features-image {
    flex: 1;
}
.features-text > p {
    text-align: justify;
    width: 70%; /* Restricts the paragraph to 50% of its container's width */
}
.features-text > a {
    display: flex;
    color: var(--moderate_cyan);
    font-size: small;
    margin-bottom: 20px;
}

.features-text .card {
    background-color: white;
    max-width: 15rem;
    padding: 20px;
    
}

.testimonial {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center !important;
    gap: 10px;
}

.testimonial p:first-child {
    font-size: 10px;
    font-weight: 600;

}
.testimonial p:last-child {
    font-size: 8px;
    font-weight: 200;
}
.testimonial > div > * {
    line-height: 0;
}
.testimonial img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.features-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* subscriptions */

.subscription {
    background-color: var(--desaturated_blue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.subscription-input, .subscription-text{
    flex:1;
}

.subscription-input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 20%;

}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--very_dark_blue);
    color: white !important;
}

/* new learning */
.footer-logo img {
    filter: invert(100%) brightness(200%); 
    margin-bottom: 20px;
}

.footer-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    font-weight: 100;
    font-size: 14px;
}

.footer-text > * {
    display: flex;
    flex-direction: column;
}

.footer-text:last-child img {
    margin-right: 20px;
}

/* Burger Icon */
.burger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 30px;
}
.burger div {
    height: 4px;
    width: 100%;
    background-color: var(--very_dark_blue);
    border-radius: 5px;
}

@media (max-width: 768px) {

    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    text-align: center;


    }
.container{
    width: 100%;
    height: fit-content;

    
}

.container > * {
    padding: 2rem;
}


input[type="text"]{
    min-width: 90%;;
}

button {
    min-width: 100%;
}



.hero{
    flex-direction: column;
}

.hero-text > *{
    text-align: center;
    max-width: 100%;
    padding: 2rem;
}
.hero-image {
    order: -1;
}




/* features  */

.features {
    flex-direction: column;
    
}

.features-text > p {
    width: 90%; /* Restricts the paragraph to 50% of its container's width */
}

.features-text .card {
    max-width: 60%;
    margin-left: 18%;
}

.features-image{
    order: -1;

}


/* subscriptions */

.subscription {
    flex-direction: column;
}


.subscription-input {
    margin: 0%;
    width: 100%;

}
.footer{
    display: flex;
    flex-direction: column;
}

.footer-text {
    display: flex;
    flex-direction: column;
    text-align: left !important;
    font-size: 18px !important;
}

.footer-text > div:nth-child(4) {
    align-items: center;
}

/* burger menu */

.burger {
    display: flex; /* Show burger on small screens */
  }

  ul.menu {
    display: none; 
    flex-direction: column;
justify-content: space-around;
    position: absolute; 
    top: 55px;
    right: 30px;
    background: var(--light_gray);
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: var(--very_dark_blue);
    border-radius: 20px;
    margin: 0;
  }
  ul.menu > li {
    /* text-align: left; */
    margin-bottom: 10px;
    margin-right: 0;
  }

  .menu.active {
    display: flex; /* Show menu when active */
  }

}
