.blog {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}

.blog .blog-text {
  display: inline-block;
  /* background-color: rgb(247, 238, 227); */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;
  border: 1px dashed rgb(135, 175, 234);
  border-radius: 5%;

}
.blog .blog-buttons {
  margin-left: 2%;
  min-width: 40%;
  display: inline-block;

}

.blog .blog-buttons .delete, .blog .blog-buttons .edit {
  text-decoration: none;
  font-size: 1.5em;
  margin: 2% 10%;
  padding: 0 2%;
  border-radius: 15%;
  border: 1px solid transparent;
  background-color: rgb(135, 175, 234);
}