/* h1 {
    font-size: 2rem;
    background-color: yellow;
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    margin-left: 15%;
} */

/* li {
    background-color: azure;
    padding: 1rem;
    margin-bottom: 2%;
} */


/* #new {
    color: red;
    font-size: 5rem;
} */
* {
    /* background-color: aquamarine; */
}